/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
  font-weight: 500;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

.page {
  --primary: #2f4858;
  --primary-background: #f9ab63;
  --body-background: #f9ab63;
  --text: #000;
  --text-contrast: #ffffff;
  --side-margin: 0.25rem;

  --button-background: #ffffff;
  --button-text: #2f4858;
  --card-background: #ffffff;
  --card-text: #000000;
  --success-background: #00c67b;
  --success-text: #000000;
  --error-background: #c35355;
  --error-text: #ffffff;

  background-color: var(--body-background);
  color: var(--text);
}

@media (prefers-color-scheme: dark) {
  .page {
    --primary: #f9ab63;
    --primary-background: #2f4858;
    --body-background: #515a7c;
    --text: #ffffff;
    --text-contrast: #000000;

    --button-background: #ffffff;
    --button-text: #2f4858;
    --card-background: #2f4858;
    --card-text: #fff;
    --success-background: #00c67b;
    --success-text: #000000;
    --error-background: #c35355;
    --error-text: #ffffff;
  }
}

main {
  margin-inline: var(--side-margin);
}

a {
  color: var(--primary);
}

button {
  width: 100%;
  background-color: var(--button-background);
  color: var(--primary);
  font-size: 1.5em;
  font-weight: 500;
  border: none;
  padding: 0.5rem;
  border-radius: 4px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

  &[aria-disabled='true'] {
    filter: opacity(0.5);
  }
}

label:has(input),
label:has(textarea) {
  & input,
  & textarea {
    display: block;
    width: 100%;

    &[aria-disabled='true'] {
      filter: opacity(0.5);
    }
  }
}
