.main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.linkList {
  margin-block-start: 0.5rem;
  padding: 0;

  & li {
    list-style: none;
  }
}

.pageLink {
  display: flex;
  gap: 0.5rem;
  margin-block-end: 0.5rem;
}
