.header {
  margin-block-end: 1rem;
}

.main {
  margin-inline: var(--side-margin);
}

.nav {
  margin-block-start: 1rem;
}

.linkList {
  margin-block-start: 0.5rem;
  padding: 0;
}

.pageLink {
  display: flex;
  gap: 0.5rem;
  margin-block-end: 0.5rem;
}
