@keyframes pulse {
  0% {
    transform: scaleY(1);
    transform-origin: 50% 50%;
  }

  50% {
    transform: scaleY(0.7);
    transform-origin: 50% 50%;
  }

  100% {
    transform: scaleY(1);
    transform-origin: 50% 50%;
  }
}

.soundWave {
  & path {
    animation-name: pulse;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }
}

.wave1 {
  animation-delay: 0.3s;
}

.wave2 {
  animation-delay: 0.6s;
}

.wave3 {
  animation-delay: 0.9s;
}

.wave4 {
  animation-delay: 1.2s;
}

.wave5 {
  animation-delay: 1.5s;
}

.wave6 {
  animation-delay: 1.8s;
}
