.header {
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 0.5rem;
}

.icon {
  padding: 0.5rem;
  border: 2px solid var(--text);
  border-radius: 4px;
  color: var(--text);
}

.steppers {
  display: flex;
  justify-content: space-between;
  padding-inline: 1rem;
  width: 100%;
  font-weight: 500;
}
